<p>Hello <%= @event_registration.attendee.name %>,</p>

<p>You have been invited to the event "<%= @event.name %>".</p>

<p>Click <a href="<%= @edit_link %>">here</a> to view and edit your registration details.</p>

<p>Thank you!</p>