<div id="<%= dom_id attendee %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= attendee.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= attendee.email %>
  </p>

</div>
