<div class="w-full">
  <% content_for :title, "Attendees" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Attendees</h1>
    <%= link_to "New attendee", new_attendee_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="attendees" class="min-w-full">
    <% @attendees.each do |attendee| %>
      <%= render attendee %>
      <p>
        <%= link_to "Show this attendee", attendee, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
