<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-2xl font-bold mb-5">Add Attendee to <%= @event.name %></h1>

  <%= turbo_frame_tag @event_registration do %>
    <%= render "form", event: @event, event_registration: @event_registration %>
  <% end %>

  <div>
    <%= link_to 'Back', @event, class: "ml-2 bg-gray-500 text-white font-bold py-3 px-5 rounded" %>
  </div>

</div>
